.modal__container_edit-profile {
  background-color: #fff;
  position: relative;
  width: 496px;
  height: 304px;
  border-radius: 12px;
  padding: 28px;
  box-sizing: border-box;
}

.modal__header {
  color: black;
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 0px;
  text-align: left;
}
