.modal__container_edit-profile {
  background-color: #fff;
  position: relative;
  width: 496px;
  height: 304px;
  border-radius: 12px;
  padding: 28px;
  box-sizing: border-box;
}

.modal__header {
  color: black;
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 0px;
  text-align: left;
}

/* .modal__label {
  color: black;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 0px;
  text-align: left;
}

.modal__submit {
  width: 128px;
  height: 36px;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  border: none;
  border-radius: 4%;
  cursor: pointer;
  font-size: 16px;
  margin-top: 32px;
} */
