.card {
  display: flex;
  justify-content: center;
  width: 325px;
  height: 328px;
  border-radius: 12%;
  position: relative;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #00000099;
  gap: 8px;
  display: flex;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: #fff;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  padding: 2px 12px;
  gap: 8px;
  background-color: #fff;
}

.card__image {
  width: 100%;
  border-radius: 4%;
  border: 1px solid #0000004d;
  position: relative;
}
.cards {
  font-family: "Cabinet Grotesk", sans-serif;
}

.cards__text {
  margin: 40px auto 34px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  color: #000000;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}

.card__like-button {
  width: 24px;
  height: 24px;
  background: url("../../assets/like_button.svg") no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  position: absolute;
}

.card__like-button_active {
  background: url("../../assets/liked_button.svg") no-repeat;
  background-size: contain;
}
