.modal__container_delete {
  background-color: #fff;
  width: 670px;
  height: 280px;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal__delete-confirmation {
  margin-top: 40px;
  margin-bottom: 24px;
  color: red;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal__delete-question {
  color: black;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 0;
  text-align: center;
}

.modal__delete-cancel {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 1);
}

/* .modal__close-delete-button { */
/* position: absolute;
  top: 20px;
  right: 28px;
  background: transparent url(../../assets/close_icon.svg) center no-repeat;

  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer; */
/* } */
